<div *ngIf="width > 900">
  <header>
    <h2>TILE.EXPERT</h2>


    <div class="action-line">
      <div @fadeAnimation *ngIf="!search" class="wrap">
        <button mat-button>
          <span>Ссылки</span>
        </button>
        <button mat-button>
          <span>Контакты</span>
        </button>
        <button mat-button>
          <span>Теги</span>
        </button>
        <button mat-button>
          <span>Просьбы</span>
        </button>
        <button mat-button>
          <span>Избранное</span>
        </button>
        <button mat-button>
          <span>Посищение</span>
        </button>
      </div>
      <input @fadeAnimation *ngIf="search" type="text">

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="triggerSearch()">search</mat-icon>
        </button>
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        </button>
    </div>

    <div class="second-block">
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
      </button>
      <button mat-button>
        <mat-icon MatBadgeSize="small" [matBadge]="1" matBadgeColor="warn" aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
      </button>


      <img src="favicon.ico" alt="img">
    </div>

  </header>
</div>

<div *ngIf="width < 900">

  <header>

    <div class="first-block">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Ссылки</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>contact_page</mat-icon>
          <span>Контакты</span>
        </button>
        <button mat-menu-item>
          <mat-icon>bookmark_border</mat-icon>
          <span>Теги</span>
        </button>
        <button mat-menu-item>
          <mat-icon>local_offer</mat-icon>
          <span>Просьбы</span>
        </button>
        <button mat-menu-item>
          <mat-icon>star</mat-icon>
          <span>Избранное</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people</mat-icon>
          <span>Посищение</span>
        </button>
        <button mat-menu-item>
          <mat-icon>add_circle</mat-icon>
          <span>Добавить</span>
        </button>
      </mat-menu>
      <h2>BlaBlaBla</h2>
      <div class="search-block">
        <input @fadeAnimation *ngIf="search" type="text">
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </button>
      </div>
    </div>

    <div class="second-block">
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
      </button>
      <button mat-button>
        <mat-icon MatBadgeSize="small" matBadge="1"  matBadgeColor="warn" aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
      </button>
      <img src="favicon.ico" alt="img">
    </div>

  </header>

</div>
