<div class="content" *ngIf="width >= 900" (click)="search = false">
  <header>

    <h2>TILE.EXPERT</h2>

    <div class="action-line">
      <div @fadeAnimation *ngIf="!search" class="wrap">
        <button mat-button>
          <span>Ссылки</span>
        </button>
        <button mat-button>
          <span>Контакты</span>
        </button>
        <button mat-button>
          <span>Теги</span>
        </button>
        <button mat-button>
          <span>Просьбы</span>
        </button>
        <button mat-button>
          <span>Избранное</span>
        </button>
        <button mat-button>
          <span>Посищение</span>
        </button>
      </div>

          <input type="text"
                 @fadeAnimation *ngIf="search" (click)="$event.stopPropagation()"
                 placeholder="Pick one"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option>
              <p>one, two</p>
            </mat-option>
          </mat-autocomplete>

      <div (click)="$event.stopPropagation()">
        <button mat-button *ngIf="!search" (click)="search = true">
          <mat-icon aria-hidden="false" aria-label="Example home icon" >search</mat-icon>
        </button>
      </div>
      <div (click)="$event.stopPropagation()">
        <button mat-button *ngIf="search" style="background: orange">
          Найти
        </button>
      </div>
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
      </button>
    </div>

    <div class="second-block">
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
      </button>
      <button mat-button>
        <mat-icon
          MatBadgeSize="small" [matBadge]="1"
          matBadgeColor="warn" aria-hidden="false"
          aria-label="Example home icon">notifications</mat-icon>
      </button>
      <button mat-button>
        <img src="favicon.ico" alt="img">
      </button>
    </div>

  </header>

</div>

<div class="content" *ngIf="width < 900" (click)="search = false">

  <header>

    <div class="first-block">
      <div class="hidden-block" *ngIf="!search">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Ссылки</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>contact_page</mat-icon>
          <span>Контакты</span>
        </button>
        <button mat-menu-item>
          <mat-icon>bookmark_border</mat-icon>
          <span>Теги</span>
        </button>
        <button mat-menu-item>
          <mat-icon>local_offer</mat-icon>
          <span>Просьбы</span>
        </button>
        <button mat-menu-item>
          <mat-icon>star</mat-icon>
          <span>Избранное</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people</mat-icon>
          <span>Посищение</span>
        </button>
        <button mat-menu-item>
          <mat-icon>add_circle</mat-icon>
          <span>Добавить</span>
        </button>
      </mat-menu>
      <h2>TILE.EXPERT</h2>
      </div>
      <div class="search-block" (click)="$event.stopPropagation()">
        <input type="text"
               @fadeAnimation *ngIf="search"
               placeholder="Pick one"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option>
            <p>one</p>
          </mat-option>
        </mat-autocomplete>

        <button mat-button (click)="search = true" *ngIf="!search">
          <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </button>
        <button mat-button *ngIf="search" style="background: orange">
          Найти
        </button>
      </div>
    </div>

    <div class="second-block" *ngIf="!search">
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
      </button>
      <button mat-button>
        <mat-icon
          MatBadgeSize="small" matBadge="1"
          matBadgeColor="warn" aria-hidden="false"
          aria-label="Example home icon">notifications</mat-icon>
      </button>
      <img src="favicon.ico" alt="img">
    </div>

  </header>

</div>


